<span class="radioClass">Show:</span>
<input type="radio" name="Options" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"All("+all+")"}}</span>

<input type="radio" name="Options" value="male" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()"/>
<span class="radioClass" >{{"Male("+male+")"}}</span>

<input type="radio"name="Options" value="female" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()"/>
<span class="radioClass" >{{"Female("+female+")"}}</span>